{% extends "/Cmatrix/Web/mvc/templates/commonLogin.twig" %}

{% block title %}{{ parent() }} | Admin`ка | {% if module.url %}Модуль {{ module.url }}{% else %}Новый модуль{% endif %}{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="res/cmatrix/adminModule.less"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/cmatrix/adminModule.js"></script>
{% endblock %}

{% block actions %}
    {% if sysuser.code == 'admin' %}
        {% if mode == 'view' %}
            <button class="cm-button-remove wi-hover h-9 w-36 text-white rounded-sm cursor-pointer bg-red-400 active:opacity-70 hover:bg-red-500 flex justify-center items-center" title="Удалить модуль">
                <i class="fal fa-trash-alt"></i><span class="ml-2">Удалить</span>
            </button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block main %}
    {% import "/Cmatrix/Web/mvc/templates/adminModule.twig" as _own %}
    
    {% if sysuser.code == 'guest' %}
        <div id="cm-need-login"></div>
    {% else %}
        <div id="cm-module-tabs" class="wi-tabs rounded-sm" data-mode="{{ mode }}">
            <ul class="wi-tabs-items bg-gray-100 flex flex-wrap justify-center">
                <li class="wi-tabs-item wi-hover h-10 px-3 cursor-pointer text-green-700 active:text-green-800 active:bg-green-200 border-b-2 flex items-center _wi-active" data-tag="#cm-tab-info">Описание</li>
                {% if mode != 'add' %}
                    <li class="wi-tabs-item wi-hover h-10 px-3 cursor-pointer text-green-700 active:text-green-800 active:bg-green-200 border-b-2 flex items-center" data-tag="#cm-tab-code">Code</li>
                    <li class="wi-tabs-item wi-hover h-10 px-3 cursor-pointer text-green-700 active:text-green-800 active:bg-green-200 border-b-2 flex items-center" data-tag="#cm-tab-datamodel">Datamodels <span class="ml-2 px-2 bg-green-300 rounded-full empty:hidden">{% if module.datamodels|length > 0 %}{{ module.datamodels|length }}{% endif %}</span></li>
                {% endif %}
            </ul>
            
            <div id="cm-tab-info" class="wi-tab-content">
                <div class="cm-direct pt-3 flex flex-wrap justify-center md:justify-end gap-2 ">
                    <button class="cm-button-info-edit wi-hover px-3 h-9 w-36 text-white rounded-sm cursor-pointer bg-blue-400 active:opacity-70 hover:bg-blue-500 flex justify-center items-center" title="Разрешить изменения">
                        <i class="fal fa-edit"></i><span class="_hidden _md:block ml-2">Изменить</span>
                    </button>
                    <button class="cm-button-info-save wi-hover px-3 h-9 w-36 text-white rounded-sm cursor-pointer bg-green-500 active:opacity-70 hover:bg-green-600 flex justify-center items-center" title="Сохранить">
                        <i class="fal fa-save"></i><span class="_hidden _md:block ml-2">Сохранить</span>
                    </button>
                    <button class="cm-button-info-cancel wi-hover px-3 h-9 w-36 text-white rounded-sm cursor-pointer bg-orange-400 active:opacity-70 hover:bg-orange-500 flex justify-center items-center" title="Отменить">
                        <i class="fal fa-undo"></i><span class="_hidden _md:block ml-2">Отменить</span>
                    </button>
                </div>
                
                <form id="cm-form-info" class="wi-form pt-3" {% if mode == 'view' %}disabled="disabled"{% endif %} method="post" action="{{ url.post }}">
                    <input name="m" type="hidden" value="ms"/>
                    <div class="grid grid-cols-1 md:grid-cols-2 _grid-cols-[max-content_minmax(0,1fr)] gap-y-5">
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Code</span>
                            <div class="italic text-sm text-gray-700 pl-5">Уникальный код, однозначно определяющий модуль в репозитарии</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="code" value="{{ module.info.module.code }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Name</span>
                            <div class="italic text-sm text-gray-700 pl-5">Наименование модуля</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="name" value="{{ module.info.module.name }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Baloon</span>
                            <div class="italic text-sm text-gray-700 pl-5">Краткое описание модуля, используется во всплывающих сообшениях</div>
                        </div>
                        <div class="pt-1 bg-stone-200 p-3">
                            <div class="grid grid-cols-[minmax(0,1fr)_minmax(0,1fr)_min-content] gap-2">
                                <div class="font-bold">Язык</div>
                                <div class="font-bold">Значение</div>
                                <button type="button" class="cm-lang-add my-auto text-gray-700 w-8 h-8 hover:bg-gray-300 hover:text-white ease-in duration-75" title="Добавить язык">
                                    <i class="fal fa-plus-circle"></i>
                                </button>
                                
                                {{ _own.baloon(lang,baloon,mode,true) }}
                                
                                {% for lang,baloon in module.info.module.baloon%}
                                    {{ _own.baloon(lang,baloon,mode) }}
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Prefix</span>
                            <div class="italic text-sm text-gray-700 pl-5">Префикс, может использоваться для именование объёктов в базе данных</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="prefix" value="{{ module.info.module.prefix }}" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Author</span>
                            <div class="italic text-sm text-gray-700 pl-5">e-mail, web-сайт, любые ссылки на автра модуля</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="author" value="{{ module.info.module.author|raw }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Url</span>
                            <div class="italic text-sm text-gray-700 pl-5">url модуля в сети</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" type="url" name="url" value="{{ module.info.module.url }}" {% if mode == 'view' %}disabled="disabled"{% endif %}
                                _pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
                            />
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Since</span>
                            <div class="italic text-sm text-gray-700 pl-5">Дата запуска модуля</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 md:w-56 w-full" type="month" name="since" value="{{ module.info.module.since }}" 
                                pattern="[0-9]{4}-[0-9]{2}"
                                required="required" 
                                {% if mode == 'view' %}disabled="disabled"{% endif %}
                            />
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Major</span>
                            <div class="italic text-sm text-gray-700 pl-5">Версия</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 md:w-40 w-full" name="major" value="{{ module.info.module.major }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Minor</span>
                            <div class="italic text-sm text-gray-700 pl-5">Ревизия</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 md:w-40 w-full" name="minor" value="{{ module.info.module.minor }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Build</span>
                            <div class="italic text-sm text-gray-700 pl-5">Номер сборки</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 md:w-40 w-full" name="build" value="{{ module.info.module.build }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Info</span>
                            <div class="italic text-sm text-gray-700 pl-5">Техническая информация о модуле</div>
                        </div>
                        <div class="pt-1">
                            <textarea class="px-1 py-1 w-full" name="info" {% if mode == 'view' %}disabled="disabled"{% endif %}>{{ module.info.module.info }}</textarea>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                    </div>
                    
                </form>
            </div>
            
            <div id="cm-tab-code" class="wi-tab-content">235345345345</div>
            <div id="cm-tab-datamodel" class="wi-tab-content flex">
                <ul class="flex">
                    {% for datamodel in module.datamodels %}
                        <li>
                            {{ datamodel.code }}
                        </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block popup %}
    {{ parent() }}
    <div class="wi-back wi-behind wi-noselect z-40 bg-gray-800 bg-opacity-20 flex">
        {#
        <span>111</span>
        <form>222</form>
        #}
        <form id="cm-form-remove" class="relative rounded-sm mx-auto my-auto flex flex-col pt-10 pb-3 px-8 sm:px-12 bg-blue-400 bg-opacity-90" action="{{ url.post }}">
            <span class="text-white text-center text-xl w-52 sm:w-72 -mt-4">Действительно удлить модуль?</span>
            <input name="m" type="hidden" value="mr"/>
            <input name="code" type="hidden" value="{{ module.url }}"/>
            <div class="flex mt-5 mb-2">
                <button type="button" class="wi-a-submit wi-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-blue-500">Да</button>
                <button type="button" class="wi-a-close wi-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-red-500">Нет</button>
            </div>
        </form>
    </div>
    
    <div class="wi-back wi-behind wi-noselect z-40 bg-gray-800 bg-opacity-20 flex">
        <form id="cm-form-save" class="relative rounded-sm mx-auto my-auto flex flex-col pt-10 pb-3 px-8 sm:px-12 bg-blue-400 bg-opacity-90" action="{{ url.post }}">
            <span class="text-white text-center text-xl w-52 sm:w-72 -mt-4">Сохранить изменения?</span>
            <div class="flex mt-5 mb-2">
                <button type="button" class="wi-a-submit wi-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-blue-500">Да</button>
                <button type="button" class="wi-a-close wi-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-red-500">Нет</button>
            </div>
        </form>
    </div>
{% endblock %}


{% macro baloon(lang,baloon,mode,isHidden) %}
    <div class="{% if isHidden %}wi-hidden{% endif %}">
        <input class="px-1 py-1 w-full" {% if isHidden %}data-name="baloon[]"{% else %}name="baloon[]"{% endif %} value="{{ lang }}" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
    </div>
    <div class="{% if isHidden %}wi-hidden{% endif %}">
        <input class="px-1 py-1 w-full" {% if isHidden %}data-name="baloon[]"{% else %}name="baloon[]"{% endif %} value="{{ baloon }}" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
    </div>
    <button type="button" class="{% if isHidden %}wi-hidden{% endif %} cm-lang-remove my-auto text-gray-700 w-8 h-8 hover:bg-gray-300 hover:text-white ease-in duration-75" title="Удалить значение">
        <i class="fal fa-minus-circle"></i>
    </button>
{% endmacro %}