{% extends "/Cmatrix/Web/mvc/templates/commonLogin.twig" %}

{% block title %}{{ parent() }} | Admin`ка | {% if module.url %}Модуль {{ module.url }}{% else %}Новый модуль{% endif %}{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="res/cmatrix/adminModule.less"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/cmatrix/adminModule.js"></script>
{% endblock %}

{% block actions %}
    {% if sysuser.code == 'admin' %}
        {% if mode == 'add' %}
            <button id="cm-button-module-save" class="wi-hover h-9 w-9 ml-1 cursor-pointer my-auto bg-green-300 active:opacity-70 flex" title="Создать модуль">
                <i class="m-auto fal fa-save"></i>
            </button>
        {% endif %}
        {% if mode == 'view' %}
            <button id="cm-button-module-edit" class="wi-hover h-9 w-9 ml-1 cursor-pointer my-auto bg-blue-300 active:opacity-70 flex" title="Изменить модуль">
                <i class="m-auto fal fa-edit"></i>
            </button>
            <button id="cm-button-module-save" class="wi-hidden wi-hover h-9 w-9 ml-1 cursor-pointer my-auto bg-green-300 active:opacity-70 flex" title="Сохранить модуль">
                <i class="m-auto fal fa-save"></i>
            </button>
            <button class="wi-hover h-9 w-9 ml-1 cursor-pointer my-auto bg-red-300 active:opacity-70 flex" title="Удалить модуль">
                <i class="m-auto fal fa-trash-alt"></i>
            </button>
        {% endif %}
        
        <button id="cm-button-back" class="wi-hover h-9 w-9 ml-1 cursor-pointer my-auto bg-neutral-300 active:opacity-70 flex" {#onclick="history.back()"#} title="Отменить">
            <i class="m-auto fal fa-backspace"></i>
        </button>
    {% endif %}
{% endblock %}

{% block main %}
    {% import "/Cmatrix/Web/mvc/templates/adminModule.twig" as _own %}
    
    {% if sysuser.code == 'guest' %}
        <div id="cm-need-login"></div>
    {% else %}
        <div id="cm-module-tabs" class="wi-tabs" data-mode="{{ mode }}">
            <ul class="wi-tabs-items bg-gray-100 flex flex-wrap justify-center">
                <li class="wi-tabs-item wi-hover h-10 px-3 cursor-pointer text-green-700 active:text-green-800 active:bg-green-200 border-b-2 flex items-center _wi-active" data-tag="#cm-tab-info">Описание</li>
                <li class="wi-tabs-item wi-hover h-10 px-3 cursor-pointer text-green-700 active:text-green-800 active:bg-green-200 border-b-2 flex items-center" data-tag="#cm-tab-code">Code</li>
                <li class="wi-tabs-item wi-hover h-10 px-3 cursor-pointer text-green-700 active:text-green-800 active:bg-green-200 border-b-2 flex items-center" data-tag="#cm-tab-datamodel">Datamodels <span class="ml-2 px-2 bg-green-300 rounded-full empty:hidden">{% if module.datamodels|length > 0 %}{{ module.datamodels|length }}{% endif %}</span></li>
            </ul>
            
            <div id="cm-tab-info" class="wi-tab-content pt-5">
                <form id="cm-form-info" class="wi-form" {% if mode == 'view' %}disabled="disabled"{% endif %} method="post" action="{{ url.post }}">
                    <input name="m" type="hidden" value="ma"/>
                    <div class="grid grid-cols-2 _grid-cols-[max-content_minmax(0,1fr)] gap-y-3">
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Code</span>
                            <div class="italic text-sm text-gray-700 pl-5">Уникальный код, однозначно определяющий модуль в репозитарии</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="code" value="{{ module.info.module.code }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Name</span>
                            <div class="italic text-sm text-gray-700 pl-5">Наименование модуля</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="name" value="{{ module.info.module.name }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Baloon</span>
                            <div class="italic text-sm text-gray-700 pl-5">Краткое описание модуля, используется во всплывающих сообшениях</div>
                        </div>
                        <div class="pt-1">
                            <div class="grid grid-cols-[minmax(0,1fr)_minmax(0,1fr)_min-content] gap-2">
                                <div class="font-bold">Язык</div>
                                <div class="font-bold">Значение</div>
                                <button type="button" class="cm-lang-add my-auto text-gray-700 w-8 h-8 hover:bg-gray-300 hover:text-white ease-in duration-75" title="Добавить язык">
                                    <i class="fal fa-plus-circle"></i>
                                </button>
                                
                                {{ _own.baloon(lang,baloon,mode,true) }}
                                
                                {% for lang,baloon in module.info.module.baloon%}
                                    {{ _own.baloon(lang,baloon,mode) }}
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Prefix</span>
                            <div class="italic text-sm text-gray-700 pl-5">Префикс, может использоваться для именование объёктов в базе данных</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="prefix" value="{{ module.info.module.prefix }}" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Author</span>
                            <div class="italic text-sm text-gray-700 pl-5">e-mail, web-сайт, любые ссылки на автра модуля</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="author" value="{{ module.info.module.author|raw }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Url</span>
                            <div class="italic text-sm text-gray-700 pl-5">url модуля в сети</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" type="url" name="url" value="{{ module.info.module.url }}" {% if mode == 'view' %}disabled="disabled"{% endif %}
                                _pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
                            />
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Since</span>
                            <div class="italic text-sm text-gray-700 pl-5">Дата запуска модуля</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" type="month" name="since" value="{{ module.info.module.since }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Major</span>
                            <div class="italic text-sm text-gray-700 pl-5">Версия</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="major" value="{{ module.info.module.major }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Minor</span>
                            <div class="italic text-sm text-gray-700 pl-5">Ревизия</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="minor" value="{{ module.info.module.minor }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Build</span>
                            <div class="italic text-sm text-gray-700 pl-5">Номер сборки</div>
                        </div>
                        <div class="pt-1">
                            <input class="px-1 py-1 w-full" name="build" value="{{ module.info.module.build }}" required="required" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                        
                        <div class="hover:bg-green-100">
                            <span class="font-bold">Info</span>
                            <div class="italic text-sm text-gray-700 pl-5">Техническая информация о модуле</div>
                        </div>
                        <div class="pt-1">
                            <textarea class="px-1 py-1 w-full" name="info" {% if mode == 'view' %}disabled="disabled"{% endif %}>{{ module.info.module.info }}</textarea>
                            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
                        </div>
                    </div>
                    
                </form>
            </div>
            
            <div id="cm-tab-code" class="wi-tab-content">235345345345</div>
            <div id="cm-tab-datamodel" class="wi-tab-content flex">
                <ul class="flex">
                    {% for datamodel in module.datamodels %}
                        <li>
                            {{ datamodel.code }}
                        </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% macro baloon(lang,baloon,mode,isHidden) %}
    <div class="{% if isHidden %}wi-hidden{% endif %}">
        <input class="px-1 py-1 w-full" {% if isHidden %}data-name="baloon[]"{% else %}name="baloon[]"{% endif %} value="{{ lang }}" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
    </div>
    <div class="{% if isHidden %}wi-hidden{% endif %}">
        <input class="px-1 py-1 w-full" {% if isHidden %}data-name="baloon[]"{% else %}name="baloon[]"{% endif %} value="{{ baloon }}" {% if mode == 'view' %}disabled="disabled"{% endif %}/>
    </div>
    <button type="button" class="{% if isHidden %}wi-hidden{% endif %} cm-lang-remove my-auto text-gray-700 w-8 h-8 hover:bg-gray-300 hover:text-white ease-in duration-75" title="Удалить значение">
        <i class="fal fa-minus-circle"></i>
    </button>
{% endmacro %}