{% extends "/Cmatrix/Web/mvc/templates/commonLogin.twig" %}

{% block js %}
    {{ parent() }}
    {#<script type="module" src="res/cmatrix/admin.js"></script>#}
{% endblock %}

{% block name %}
    {{ parent() }}<span class="px-1 text-6xl leading-4 my-auto text-green-700">•</span><span class="text-2xl text-green-700 my-auto">Admin`ка</span>
{% endblock %}

{% block action %}
    <span>action</span>
{% endblock %}

{% block direct %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% if sysuser.code == 'guest' %}
        <div id="cm-need-login"></div>
    {% else %}
        <div class="container mx-auto flex flex-wrap">
            {% for block in blocks %}
                {% set enable = block.enable ? block.enable : false %}
                {% set visible = block.visible ? block.visible : false %}
                
                {% if _context.visible %}
                    {% if _context.enable %}
                        <a class="md:mx-2 mx-auto rounded overflow-hidden bg-gray-200 w-80 h-44 flex m-2 flex-col border-2 border-white hover:border-2 hover:border-green-400 " href="{{ block.url }}">
                            <span class="text-center font-bold bg-gray-400 p-2 text-white">{{ block.name }}</span>
                            <i class="p-1 text-center fa-3x text-gray-700 {{ block.icon }}"></i>
                            <span class="text-center mb-1 mt-auto mx-2 h-20 overflow-y-auto">{{ block.info }}</span>
                        </a>
                    {% else %}
                        <div class="md:mx-2 mx-auto rounded overflow-hidden bg-gray-200 w-80 h-44 flex m-2 flex-col opacity-30 border-2 border-white">
                            <span class="text-center font-bold bg-gray-300 p-2">{{ block.name }}</span>
                            <i class="p-1 text-center fa-3x text-gray-700 {{ block.icon }}"></i>
                            <span class="text-center mb-1 mt-auto mx-2 h-20 overflow-y-auto">{{ block.info }}</span>
                        </div>
                    {% endif %}
                {% endif %}
                
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}