{% extends "/Cmatrix/Web/mvc/templates/commonLogin.twig" %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/cmatrix/adminModule.js"></script>
{% endblock %}

{% block title %}{{ parent() }} | Admin`ка | Модули{% endblock %}

{% block actions %}
    {% if sysuser.code == 'admin' %}
        <a href="{{ url.addmodule }}" class="wi-hover h-9 w-40 text-white rounded-sm cursor-pointer bg-green-500 active:opacity-70 hover:bg-green-600 flex justify-center items-center" title="Добавить новый модуль">
            <i class="fal fa-plus"></i><span class="ml-2">Создать модуль</span>
        </a>
    {% endif %}
{% endblock %}

{% block main %}
    {% if sysuser.code == 'guest' %}
        <div id="cm-need-login"></div>
    {% else %}
        <div class="container mx-auto flex flex-wrap gap-4 justify-left">
            {% for b in blocks %}
                <div class="_md:mx-2 _mx-auto rounded overflow-hidden bg-gray-200 w-80 h-44 flex _m-2 flex-col _border-2 _border-white _hover:border-2 _hover:border-blue-400 ">
                    <div class="bg-gray-400 h-10 flex divide-x">
                        <span class="pl-2 mr-auto my-auto text-center text-white _text-lg font-bold">{{ b.code }}</span>
                        <a class="wi-hover w-10 text-white hover:opacity-70 active:bg-gray-300 flex"  href="{{ b.url }}" title="Изменить"><i class="m-auto fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="grid grid-cols-2 px-2">
                        <div class="col-span-2 h-10 _py-3 _text-center text-gray-700 flex"><span class="m-auto">{{ b.baloon }}</span></div>
                        <div class="h-7 flex"><span class="mt-auto">Version</span></div>
                        <div class="h-7 flex text-xl"><span class="mt-auto">{{ b.version }}</span></div>
                        <div class="h-7 flex"><span class="mt-auto">Code</span></div>
                        <div class="h-7 {% if b.codes%}text-xl{% else %}text-gray-500{% endif %} flex"><span class="mt-auto">{{ b.codes }}</span></div>
                        <div class="h-7 flex"><span class="mt-auto">Datamodels</span></div>
                        <div class="h-7 {% if b.datamodels%}text-xl{% else %}text-gray-500{% endif %} flex"><span class="mt-auto">{{ b.datamodels }}</span></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
