{% extends "/Cmatrix/Web/mvc/templates/commonLogin.twig" %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/cmatrix/adminModule.js"></script>
{% endblock %}

{% block title %}{{ parent() }} | Admin`ка | Модули{% endblock %}

{% block logo2 %}</span><span class="text-2xl ml-2 text-green-700 my-auto">• Admin`ка</span>{% endblock %}

{% block name %}<span class="text-2xl text-blue-700 my-auto">{{ name }}</span>{% endblock %}

{% block actions %}
    {% if sysuser.code == 'admin' %}
        <a href="{{ url.addmodule }}" class="wi-hover h-9 w-9 cursor-pointer my-auto bg-green-200 flex" title="Новый модуль">
            <i class="m-auto fal fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block main %}
    {% if sysuser.code == 'guest' %}
        <div id="cm-need-login"></div>
    {% else %}
        <div class="container mx-auto flex flex-wrap">
            {% for b in blocks %}
                <a class="md:mx-2 mx-auto rounded overflow-hidden bg-gray-200 w-80 h-44 flex _m-2 flex-col border-2 border-white hover:border-2 hover:border-blue-400 " href="{{ b.url }}">
                    <span class="text-center font-bold bg-gray-400 p-2 text-white">{{ b.name }}</span>
                    <div class="grid grid-cols-2 px-2">
                        <div class="col-span-2 py-2 text-center text-gray-700">{{ b.info }}</div>
                        <div>Datamodels</div>
                        <div class="text-gray-700">{{ b.datamodels }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
