{% extends "/Cmatrix/Web/mvc/templates/commonLogin.twig" %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/cmatrix/adminModule.js"></script>
{% endblock %}

{% block title %}{{ parent() }} | Admin`ка | Модули{% endblock %}

{% block actions %}
    {% if sysuser.code == 'admin' %}
        <a href="{{ url.addmodule }}" class="wi-hover h-9 w-9 cursor-pointer my-auto bg-green-300 flex" title="Новый модуль">
            <i class="m-auto fal fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block main %}
    {% if sysuser.code == 'guest' %}
        <div id="cm-need-login"></div>
    {% else %}
        <div class="container mx-auto flex flex-wrap gap-4 justify-center">
            {% for b in blocks %}
                <div class="_md:mx-2 _mx-auto rounded overflow-hidden bg-gray-200 w-80 h-44 flex _m-2 flex-col _border-2 _border-white _hover:border-2 _hover:border-blue-400 ">
                    <div class="bg-gray-400 h-10 flex">
                        <span class="m-auto text-center text-white text-lg font-bold">{{ b.code }}</span><span class="my-auto mr-2 text-sm text-white">v{{ b.version }}</span>
                        <a class="wi-hover w-10 bg-cyan-300 text-white active:opacity-70 flex"  href="{{ b.url }}" title="Изменить"><i class="m-auto fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="grid grid-cols-2 px-2">
                        <div class="col-span-2 h-10 _py-3 _text-center text-gray-700 flex"><span class="m-auto">{{ b.baloon }}</span></div>
                        <div class="h-8 flex"><span class="mt-auto">Datamodels</span></div>
                        <div class="h-8 {% if b.datamodels%}text-2xl{% else %}text-gray-500{% endif %} flex"><span class="mt-auto">{{ b.datamodels }}</span></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
