{#
    Общая форма

    blocks
        -favicon
        -title
        
        -style
        -js
        
        -name
        -nameTitle
        
        -current
        -actions
        -user
        -main
#}
<html>
    <head>
        <link rel="icon" href="{% block favicon %}res/cmatrix/ico/honeycomb.ico{% endblock %}" type="image/x-icon"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}{{ app.name }} v{{ app.version }}{% endblock %}</title>
        
        <script src="res/cmatrix/vendor/tailwindcss.com/3.0.12/tailwindcss.js"></script>
        {# <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/tailwindcss.com/2.0.4/tailwind.min.css"/> #}
        
        <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/fontawesome.com/5.15.3/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/google.com/fonts/Arsenal/font.less"/>
        <link rel="stylesheet/less" type="text/css" href="res/cmatrix/html.less"/>
        {% block style %}
            <link rel="stylesheet/less" type="text/css" href="res/cmatrix/common.less"/>
        {% endblock style %}
        <script type="text/javascript" src="res/cmatrix/vendor/lesscss.org/3.7.1/less.min.js"></script>
    </head>
    <body>
        
        <header class="fixed inset-x-0 top-0 px-3 h-12 _bg-gray-100 text-gray-700 flex border-b-2">
            {#
            <a id="cm-logo" href="{{ url.home }}" class="cm-hover my-auto text-6xl text-green-700 _w-11 flex-shrink-0">
                <span class="_m-auto">~</span>
            </a>
            #}
            
            {#
            <div class="cm-name cursor-default my-auto pl-1 pr-2 _font-bold text-2xl text-green-700 truncate _flex-none" title="{% block nameTitle %}{% endblock %}">
                {% block logo %}{% endblock %}
                {% block name %}{% if app.module %}{{ app.module }}{% else %}{{ app.name }}{% endif %}{% endblock %}
            </div>
            #}
            
            <a href="{{ url.home }}" class="truncate flex" title="{% block nameTitle %}{% endblock %}">
                {% block logo %}{% endblock %}{% block name %}{% endblock %}
            </a>
            
            <div class="mx-auto flex">
                {% block action %}{% endblock %}
            </div>
            <div class="flex">
                {% block direct %}{% endblock %}
            </div>
            <div class="flex">
                {% block user %}{% endblock %}
            </div>
        </header>
        
        <div class="pt-12 px-3 w-full h-full">
            {% block main %}{% endblock %}
        </div>
        
    </body>

    <script type="text/javascript" src="res/cmatrix/vendor/jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="res/cmatrix/vendor/jquery.com/jquery.md5.js"></script>
    <script type="text/javascript" src="res/cmatrix/vendor/jquery.js"></script>
    {% block js %}
        {#<script type="module" src="res/cmatrix/common.js"></script>#}
    {% endblock js %}
</html>
