{#
    Общая форма

    blocks
        -favicon
        -title
        
        -style
        -js
        
        -name
        -nameTitle
        
        -current
        -actions
        -user
        -main
#}
<html>
    <head>
        <link rel="icon" href="{% block favicon %}res/cmatrix/ico/honeycomb.ico{% endblock %}" type="image/x-icon"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}{{ app.name }} v{{ app.version }}{% endblock %}</title>
        
        <script src="res/cmatrix/vendor/tailwindcss.com/3.0.12/tailwindcss.js"></script>
        {# <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/tailwindcss.com/2.0.4/tailwind.min.css"/> #}
        
        <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/fontawesome.com/5.15.3/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/google.com/fonts/Arsenal/font.less"/>
        <link rel="stylesheet/less" type="text/css" href="res/cmatrix/html.less"/>
        {% block style %}
            <link rel="stylesheet/less" type="text/css" href="res/cmatrix/common.less"/>
        {% endblock style %}
        <script type="text/javascript" src="res/cmatrix/vendor/lesscss.org/3.7.1/less.min.js"></script>
    </head>
    <body>
        <header class="mx-auto fixed inset-x-0 top-0 text-gray-700 _border-b-2 shadow-xl">
            <div class="container h-10 mx-auto flex">
                <a href="{{ url.home }}" class="truncate flex" title="{% block nameTitle %}{{ app.info }}{% endblock %}">
                    {% block logo %}{% endblock %}{% block name %}<span class="text-2xl text-green-700 ml-2 my-auto">{{ app.name }}</span>{% endblock %}
                </a>
                
                <div class="ml-3 mr-auto flex">
                    {% block action %}{% endblock %}
                </div>
                <div class="flex">
                    {% block direct %}
                        <a id="wi-search" href="{{ url.search }}" class="wi-hover cursor-pointer mx-3 flex" target="#cm-total-search" onclick="event.preventDefault()">
                            <i class="my-auto text-xl far fa-search"></i>
                        </a>
                    {% endblock %}
                </div>
                <div class="flex">
                    {% block user %}{% endblock %}
                </div>
            </div>
        </header>
        
        <div class="container mx-auto pt-10 w-full h-full">
            {% block main %}{% endblock %}
        </div>
        
    </body>

    <script type="text/javascript" src="res/cmatrix/vendor/jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="res/cmatrix/vendor/jquery.com/jquery.md5.js"></script>
    <script type="text/javascript" src="res/cmatrix/vendor/jquery.js"></script>
    {% block js %}
        {#<script type="module" src="res/cmatrix/common.js"></script>#}
    {% endblock js %}
</html>
