{#
    Общая форма

    blocks
        -favicon
        -title
        
        -style
        -js
        
        -name
        -nameTitle
        
        -current
        -actions
        -user
        -main
#}
<html>
    <head>
        <link rel="icon" href="{% block favicon %}res/cmatrix/ico/honeycomb.ico{% endblock %}" type="image/x-icon"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}{{ app.name }} v{{ app.version }}{% endblock %}</title>
        
        <script src="res/vendor/tailwindcss.com/3.0.12/tailwindcss.js"></script>
        {# <link rel="stylesheet" type="text/css" href="res/vendor/tailwindcss.com/2.0.4/tailwind.min.css"/> #}
        
        <link rel="stylesheet" type="text/css" href="res/vendor/fontawesome.com/5.15.3/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="res/vendor/google.com/fonts/Arsenal/font.less"/>
        <link rel="stylesheet/less" type="text/css" href="res/cmatrix/html.less"/>
        {% block style %}
            <link rel="stylesheet/less" type="text/css" href="res/cmatrix/common.less"/>
        {% endblock style %}
        <script type="text/javascript" src="res/vendor/lesscss.org/3.7.1/less.min.js"></script>
    </head>
    <body class="flex flex-col h-full">
        <header class="mx-auto fixed inset-x-0 top-0 text-gray-700 bg-white _border-b-2 shadow-xl z-10">
            <div class="container px-2 h-12 mx-auto flex">
                <a href="{{ url.home }}" class="truncate flex" title="{% block nameTitle %}{{ app.name }} - {{ app.info|lower }}{% endblock %}">
                    {% block logo %}{{ _self.logo() }}{% endblock %}<span class="text-3xl text-green-700 ml-2 my-auto">{{ app.name }}</span>
                </a>
                
                <div class="ml-3 mr-auto flex">
                    {% block links %}{% endblock %}
                </div>
                <div class="flex">
                    {% block direct %}
                        <a id="wi-search" href="{{ url.search }}" class="wi-hover cursor-pointer w-10 flex" target="#cm-total-search" onclick="event.preventDefault()">
                            <i class="m-auto text-xl far fa-search"></i>
                        </a>
                    {% endblock %}
                </div>
                <div class="flex">
                    {% block user %}{% endblock %}
                </div>
            </div>
        </header>
        
        <div class="container mx-auto px-2 pt-2 pb-4 mt-14 flex flex-wrap">
            {% block path %}
                <ul id="path" class="w-full flex flex-wrap gap-1 _truncate">
                    {% for page,url in path %}
                        {% if loop.last %}
                            <span class="text-3xl mt-auto">{{ page }}</span>
                        {% else %}
                            <span class="flex">
                                <a class="text-sky-600 underline underline-offset-1 flex" href="{{ url }}"><span class="mt-auto mb-0.5">{{ page }}</span></a>
                                <span class="ml-1 mt-auto mb-0.5">></span>
                            </span>
                        {% endif %}
                    {% endfor %}
                    <div class="ml-auto mr-auto md:ml-auto md:mr-0 my-auto flex">{% block actions %}{% endblock %}</div>
                </ul>
            {% endblock %}
        </div>
        
        <div class="container mx-auto px-2 _pt-10 _mb-20 w-full _min-h-full _h-full flex-auto grow-1 shrink-0">
            {% block main %}{% endblock %}
        </div>
        
        <footer class="_mx-auto mt-5 px-2 bg-neutral-500 text-white flex-auto grow-0 shrink-0">
            <div class="container mx-auto px-1 py-3 flex flex-col">
                {% block footer %}
                    <div class="text-center">
                        <a class="underline underline-offset-1" href="{{ url.search }}" title="Поискова система">Поиск</a> •
                        <a class="underline underline-offset-1" href="{{ url.message }}" title="Форум/Чат/Блог">Сообщения</a> •
                        <a class="underline underline-offset-1" href="{{ url.session }}" title="Текущая сессия">Сессия</span></a> •
                        <a class="underline underline-offset-1" href="{{ url.browser }}" title="Проверка браузера на совместимость">Browser</a> •
                        <a class="underline underline-offset-1" href="{{ url.api }}"title="">API</a> •
                        <a class="underline underline-offset-1" href="{{ url.admin }}" title="Панель управления">Admin`ка</a> •
                        <a class="underline underline-offset-1" href="{{ url.profile }}" title="Профиль пользователя">Профиль</a>
                    </div>
                    <div class="text-center mt-5">{{ app.name }} &copy; v{{ app.version }} // {{ app.since}}-{{ now|before('-') }}</div>
                {% endblock %}
            </div>
        </footer>
        
        {% block popup %}
            <div class="wi-back wi-behind wi-noselect z-50 bg-gray-800 bg-opacity-20 flex flex-col">
                <div id="cm-alert-success" class="relative my-auto bg-green-400 bg-opacity-90 flex flex-col p-10" data-timeout="2000">
                    <div class="wi-content container mx-auto text-white text-center"></div>
                    {#<div class="mx-auto flex">
                        <button type="button" class="wi-a-close wi-hover focus:ring-4 focus:ring-red-400 focus:ring-opacity-50 rounded mx-auto mt-5 px-3 py-1.5 bg-red-400">Закрыть</button>
                    </div>#}
                </div>
            </div>
                    
            <div class="wi-back wi-behind wi-noselect z-50 bg-gray-800 bg-opacity-20 flex flex-col">
                <div id="cm-alert-error" class="relative my-auto bg-red-400 bg-opacity-95 flex flex-col p-8">
                    <div class="container mx-auto flex justify-center gap-4">
                        <i class="fal fa-exclamation-circle text-white text-2xl"></i>
                        <span class="wi-content text-white text-lg"></span>
                    </div>
                    <div class="container mx-auto flex">
                        <button type="button" class="wi-a-close wi-hover text-white mx-auto mt-5 px-3 py-1.5 bg-red-500 focus:ring-4 focus:ring-red-400 focus:ring-opacity-50 rounded">Закрыть</button>
                    </div>
                </div>
            </div>
            
            <div class="wi-back wi-behind wi-noselect z-40 bg-gray-800 bg-opacity-20 flex">
                <span>111</span>
                <form>222</form>
                <form id="cm-form-confirm" class="relative rounded-sm mx-auto my-auto flex flex-col pt-10 pb-3 px-8 sm:px-12 bg-blue-400 bg-opacity-90" action="{{ url.post }}">
                    <span class="wi-content text-white text-center _font-bold _absolute w-52 sm:w-72 _top-0 -mt-4 text-xl"></span>
                    <div class="flex mt-5 mb-2">
                        <button type="button" class="wi-a-submit wi-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-blue-500">Да</button>
                        <button type="button" class="wi-a-close wi-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-red-500">Нет</button>
                    </div>
                </form>
            </div>
            
        {% endblock %}
    </body>

    <script type="text/javascript" src="res/vendor/jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="res/vendor/jquery.com/jquery.md5.js"></script>
    <script type="text/javascript" src="res/cmatrix/jquery.js"></script>
    {% block js %}
        <script type="module" src="res/cmatrix/common.js"></script>
    {% endblock js %}
</html>

{% macro logo() %}
    <span id="cm-logo" class="px-2 text-6xl leading-4 text-green-700 my-auto flex-shrink-0">~</span>
{% endmacro %}