{% extends "/Cmatrix/Web/mvc/templates/common.twig" %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/cmatrix/commonLogin.js"></script>
{% endblock %}

{% block direct %}
    {{ parent() }}
    {% if isSession %}
        <a id="cm-message" href="{{ url.message }}" class="wi-hover cursor-pointer w-10 flex" target="#cm-total-message" onclick="event.preventDefault()">
            <i class="m-auto text-xl far fa-comment"></i>
        </a>
    {% endif %}
{% endblock %}

{% block user %}
    {% if isSession %}
        <a id="cm-user" class="wi-hover flex ml-3 mr-1 cursor-pointer"  href="{{ url.login }}" onclick="event.preventDefault()"
            target="{% if sysuser.code == 'guest' %}login{% else %}session{% endif %}"
            title="{{ sysuser.name }}"
        >
            {# <span class="cm-name my-auto mr-2">{{ session.user.name }}</span> #}
            {# <i class="text-3xl my-auto fas fa-user-circle"></i> #}
            {% if sysuser.code == 'guest' %}
                <i class="text-3xl my-auto fad fa-user-circle"></i>
            {% else %}
                <i class="text-3xl my-auto fas fa-user-circle"></i>
            {% endif %}
            {# {% if session.user.code != 'guest'%}<i id="wi-caret-session" class="my-auto mr-2 fas fa-caret-left"></i>{% endif %} #}
        </a>
    {% endif %}
{% endblock %}

{% block popup %}
    <div class="wi-back wi-behind wi-noselect z-40 bg-gray-800 bg-opacity-50 flex">
        <form id="cm-form-login" class="relative rounded w-10/12 sm:w-96 mx-auto my-auto flex flex-col pt-10 pb-3 px-8 sm:px-12 bg-blue-400 bg-opacity-90 shadow-2xl"
            _data-timeout="3000"
            method="post" action="{{ url.post }}"
        >
            <span class="wi-a-close wi-hover absolute p-3 top-0 right-0 cursor-pointer"><i class="text-white fas fa-times"></i></span>
            
            <span class="text-white font-bold relative -top-3 text-xl truncate ">Представтесь, пожалуйста</span>
            
            <input name="m" type="hidden" value="li"/>
            
            <input class="w-full px-3 py-1 _w-52 _sm:w-72 mt-5" type="text" name="u" placeholder="Логин" required="required" maxlength="10"
                {#oninvalid="this.setCustomValidity('обязательное поле')" oninput="this.setCustomValidity('')"#}
            />
            <span class="wi-err mb-3 h-4 text-red-600 text-sm"></span>
            
            <input class="w-full px-3 py-1 _w-52 _sm:w-72" type="password" name="p" placeholder="Пароль" required="required"
                {#oninvalid="this.setCustomValidity('обязательное поле')" oninput="this.setCustomValidity('')"#}
            />
            <span class="wi-err mb-2 h-4 text-red-600 text-sm"></span>
            
            <button type="button" class="wi-a-submit rounded focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50 mb-1 wi-hover mt-1 w-20 mx-auto px-3 py-1.5 text-white bg-blue-500">Войти</button>
        </from>
    </div>
    
    <div class="wi-back wi-behind wi-noselect z-40 bg-white bg-transparent flex">
        <div class="container mx-auto flex">
            <div class="ml-auto mt-8 mb-0 overflow-y-auto border-t-2">
                <ul id="cm-form-session" class="cursor-pointer bg-white border-2 border-t-0 flex flex-col">
                    <li class="cm-menu-item flex"><a class="w-full p-2 hover:bg-gray-300" href="{{ url.profile }}"><i class="text-gray-700 w-7 far fa-user"></i><span>Профиль</span></a></li>
                    <li class="cm-menu-item flex"><a class="w-full p-2 hover:bg-gray-300" href="{{ url.session }}"><i class="text-gray-700 w-7 far fa-paper-plane"></i><span>Сеанс</span></a></li>
                    <li class="cm-menu-item flex"><a class="w-full p-2 hover:bg-gray-300" href="{{ url.admin }}"><i class="text-gray-700 w-7 far fa-desktop"></i><span>Admin`ка</span></a></li>
                    <li class="wi-h-devider-1 text-gray-200"></li>
                    <li class="cm-menu-item wi-logout flex"><a class="w-full p-2 hover:bg-gray-300"><i class="text-gray-700 w-7 far fa-sign-out-alt"></i><span>Завершение сеанса</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}