{#
    Общая форма

    blocks
        -style
        -js
        -name
        -nameTitle
        -current
        -actions
#}
<html>
    <head>
        <link rel="icon" href="{% block favicon %}res/cmatrix/ico/honeycomb.ico{% endblock %}" type="image/x-icon"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{{ app.name }} v{{ app.version }}</title>
        <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/tailwindcss.com/tailwind.min.css"/>
        <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/fontawesome.com/5.15.3/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="res/cmatrix/vendor/google.com/fonts/Arsenal/font.less"/>
        <link rel="stylesheet/less" type="text/css" href="res/cmatrix/html.less"/>
        {% block style %}
            <link rel="stylesheet/less" type="text/css" href="res/tilda/common.less"/>
        {% endblock style %}
        <script type="text/javascript" src="res/cmatrix/vendor/lesscss.org/3.7.1/less.min.js"></script>
    </head>
    <body>
        <header class="fixed inset-x-0 top-0 px-1 h-10 bg-gray-500 text-white flex">
            <a id="cm-logo" href="{{ url.home }}" class="cm-hover my-auto text-6xl _w-11 flex-shrink-0">
                <span class="_m-auto">~</span>
            </a>
            
            <div class="cm-name my-auto pl-1 pr-2 _font-bold text-2xl text-green-400 truncate _flex-none" title="{% block nameTitle %}{% endblock %}">
                {% block name %}{% if app.module %}{{ app.module }}{% else %}{{ app.name }}{% endif %}{% endblock %}
            </div>
            
            <div class="ml-auto flex">
                {% block actions %}
                    <a id="wi-search" class="cm-hover cursor-pointer mx-3 flex">
                        <i class="my-auto text-2xl far fa-search"></i>
                    </a>
                    <a id="wi-message" class="cm-hover cursor-pointer mx-3 flex">
                        <i class="my-auto text-2xl far fa-comment"></i>
                    </a>
                    <a id="wi-session"
                        class="cm-hover flex ml-2 cursor-pointer" 
                        href="{{ url.login }}"
                        onclick="event.preventDefault()"
                        target="{% if session.user.code == 'guest' %}#cm-login{% else %}#cm-session{% endif %}"
                    >
                        <span class="cm-name my-auto mr-2">{{ session.user.name }}</span>
                        <i class="text-3xl my-auto mr-2 fas fa-user-circle"></i>
                        {% if session.user.code != 'guest'%}<i id="wi-caret-session" class="my-auto mr-2 fas fa-caret-left"></i>{% endif %}
                    </a>
                {% endblock %}
            </div>
        </header>
        
        <div class="pt-10 w-full h-full flex">
            {% block main %}{% endblock %}
        </div>
        
        
        
        {#
        <div class="fixed h-20 top-0 left-0 right-0 bg-gray-400">
            qwqw
        </div>
        <div class="fixed w-80 left-0 top-20 bottom-0 bg-gray-300">
            123
        </div>
        
        <div class="ml-80">
            <div>FIRST</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>wqweqeqwe</div>
            <div>LAST</div>

        </div>
        #}
        
        {#
        <header class="bg-gray-500 text-white h-10 fixed top-0 left-0 right-0 z-10">
            <div class="container mx-auto flex h-full">
                <a id="cm-logo" href="{{ url.home }}" class="cm-hover my-auto text-6xl _w-11 flex-shrink-0">
                    <span class="_m-auto">~</span>
                </a>
                
                <div class="cm-name my-auto pl-1 pr-2 _font-bold text-2xl text-green-400 truncate _flex-none" title="{% block nameTitle %}{% endblock %}">{% block name %}{% if app.module %}{{ app.module }}{% else %}{{ app.name }}{% endif %}{% endblock %}</div>
                <div id="cm-actions" class="flex ml-auto">{% block actions %}{% endblock %}</div>
            </div>
        </header>
        
        <div class="fixed pt-10 pb-6 w-full h-full">
            {% block error %}{% endblock %}
            {% block main %}{% endblock %}
        </div>
        
        <footer class="bg-gray-500 text-white text-xs h-6 fixed bottom-0 left-0 right-0 z-10">
            <div class="container mx-auto px-3 flex h-full">
                <div class="m-auto">{{ app.name }} &copy; <span>v{{ app.version }}</span> by {{ app.author }}</div>
            </div>
        </footer>
        
        {% block popup %}
            <div class="cm-back cm-win-container cm-behind z-50 flex flex-col">
                <div id="wi-success" class="cm-win my-auto bg-green-400 bg-opacity-90 text-white p-5">
                    <div class="cm-text container mx-auto text-center"></div>
                </div>
            </div>
            
            <div class="cm-back cm-win-container cm-behind z-50 flex flex-col">
                <div id="wi-error" class="cm-win my-auto bg-red-300 bg-opacity-95 text-white p-5">
                    <div class="cm-text container mx-auto text-center"></div>
                    <div class="container mx-auto flex">
                        <button type="button" class="cm-a-close cm-hover focus:ring-4 focus:ring-green-400 focus:ring-opacity-50 rounded mx-auto mt-5 px-3 py-1.5 bg-red-400">Закрыть</button>
                    </div>
                </div>
            </div>
        {% endblock %}
        #}
        
    </body>

    <script type="text/javascript" src="res/cmatrix/vendor/jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="res/cmatrix/vendor/jquery.com/jquery.md5.js"></script>
    <script type="text/javascript" src="res/cmatrix/vendor/jquery.js"></script>
    {% block js %}
        <script type="module" src="res/cmatrix/common.js"></script>
    {% endblock js %}
</html>
